/* css初始化 */
@charset  "utf-8";/* 设置页面的格式 */
html{
    color: #000;
    background: #FFF;
}
a{
	text-decoration: none;
}
body,
div,
dl,
dt,
dd,
ul,
ol,
li,
h1,
h2,
h3,
form,
fieldset,
input,
textarea,
p,
blockquote,
th,
td {
	margin:0;
	padding:0;
}
em,
strong,
b,
u,
l {
	font-style:normal;
	font-weight:normal;
}
ol,
ul{
    list-style: none;
}
h1,
h2,
h3 {
	font-size:100%;
	font-weight:normal;
}
textarea,
select {
	font-family:inherit;
	font-size:inherit;
	font-weight:inherit;
	*font-size:100%; /*to enable resizing for IE*/
}
img{
    border:0 none;
}